body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; 
}

nav {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  border-bottom: 1px solid #888888;
  background-color: white;
}

.logo {
  width: 150px;
  margin-right: 100px;
}

.navItems ul {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.navItems ul li {
  list-style: none;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
}

.navItems ul li a {
  text-decoration: none;
  color: black;
}

.requestDemo {
  border: 1px solid #224229;
  padding: 10px 25px;
  text-decoration: none;
  color: black;
}

.requestDemo:hover {
  background-color: #224229;
  color: white;
  transition: all ease-in 0.3s;
}

/* Section Intro  */
.introImage img {
  width: 500px;
}

.introTextContent {
  width: 50%;
}
.container h1 {
  color: #224229;
  font-family: "Libre Baskerville";
  font-weight: 400;
  font-size: 40px;
}
.container p {
  color: #888888;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 20px;
  font-weight: 400px;
}

.container h4 {
  color: #212529;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

.introImage {
  width: 50%;
  padding-top: 50px;
}

.intro {
  display: flex;
  margin-top: 150px;
}

.container {
  margin-left: 150px;
  margin-right: 150px;
}

/*Section About, why*/
#about{
  line-height: 2rem;
  padding-bottom: 15px;
}  

.aboutImage img {
  width: 400px;
  height: initial;
}

.aboutImage {
  width: 50%;
  padding-top: 50px;
}

.aboutImage h1{
  font-family: "Libre Baskerville";
  font-size: 36.8px;
  line-height: 44.16px;
  font-weight: 500;
}

hr{
  width: 100%;
  margin: 16px, 0px;
}

/* Section Compression */
h3{
  color: #224229;
  text-transform: uppercase;
  font-family: "Libre Baskerville";
  font-size: 30px;
  line-height: 30px;
}

.icon{
  background-image: url(/images/icon-title.webp);
  background-position: center;
	background-repeat: no-repeat;
  padding-bottom: 10px;
	height: 40px;
	width: 100%;
} 

.introduction{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 150px; 
  padding : 50px;
} 

.image{
  width: 300px;
  height:auto;
  border-radius: 10px;
}

.image:hover{
  transition: all ease-in-out 0.3s;
}
.arrow{
  width: 100px;
  height: auto;
}

.wholeContent > div{
  gap: 100px;
  padding: 30px;
}

.wholeContent{
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.secondContent{
  margin-top: 30px;
}

/* Footer */
.footerImage{
  background-image: url(/images/background-plants.webp);
  background-attachment: fixed;
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  position: relative;
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center
}
.footer h4{
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 20px;
  padding: 10px;
}

#email{
  color:#ffffff;
  background-color: rgba(255,255,255,0.1);
  padding: 15px;
  font-family: "Poppins", sans-serif;
  /* margin-right: 0px; */
  border: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#submit{
  color:#ffffff;
  background-color: rgba(81,166,68,0.5);
  font-family: "Poppins", sans-serif;
  padding: 15px;
  display: inline-block;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

p{
  color: rgb(153, 153, 153);
  font-family: "Poppins", sans-serif;
}

/* Styling the socialMedia  */
.socialMedia{
  margin-top: 30px;
  text-align: center;
  display: block;
}

.socialMedia a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(81, 166, 68, 0.5);
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-decoration: none;
}

.socialMedia a:hover{
  background-color:rgb(81, 166, 68) ;
  transition: all ease-in-out 0.3s;
}

b img{
  width: 100%;
}

.earth{
  width: 50px;
  height: 50px;
  height: auto;
  margin-left: 5px;
  margin-top: 50px;
}

/* Styling the requestDemo Page */

.row{
  display: flex;
}

.demo{
  display: flex;
  margin-bottom: 50px;
}

.personalData{
  margin-top: 50px;
}

.inputs{
  font-family: "Libre Baskerville";
  color: rgb(33, 37, 41);
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin: 15px;
}

input, select{
  width: 200px;
  border-radius:5px;
  padding: 10px;
}

.inputs input, select {
  font-family: "Libre Baskerville";
  color: #212529;
  border: 1px solid #ced4da;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.role{
  color: #212529;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;

}

.red{
  color: #ff2727;
  font-size: 16px;
  line-height: 24px;
}

.warning{
  margin: 15px;
}

.warning p{
  color: #ff3d3d;
  font-family: "Poppins", sans-serif ;
  font-size: 16px;
  line-height: 27px;
}

.demo-btn{
  background-color: #478340;
  color: #000;
  padding: 15px;
  width: 150px;
  border: none;
  border-radius: 5px;
  font-family: "Libre Baskerville";
  color: #212529;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  cursor: pointer;
}

.demo-btn:hover{
  color: #fff;
  background-color: #478340;
  transition: all ease-in-out 0.3s;
}

/* Screen Responsive */

@media (max-width: 480px) {

  nav {
    display: none;
  }
  
  .demo{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .aboutImage{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }

  .mode{
    width: 50px;
    height: auto;
  }
  .personalData{
    margin-top: 20px;
  }

  .row{
    display: flex;
    flex-direction: column;
  }
  
  input, select{
    width: 150%;
  } 

  .warning{
    margin: 15px 0 0 0;
    flex-wrap:wrap;
  }
}